---
import '@/styles/globals.css'
import { Image } from 'astro:assets'
import { CarouselDemo } from '../components/CarouselDemo'
import NotificationHeader from '../components/NotificationHeader.tsx'
import IconLoginArrow from '../images/iconLoginArrow.svg'
import Layout from '../layouts/Layout.astro'
---

<Layout title="우주로또">
  <main class="px-4 w-full">
    <NotificationHeader client:load />
    <div class="flex items-center gap-2 mt-[30px]">
      <p>로그인 해주세요</p>
      <Image
        src={IconLoginArrow}
        alt="login arrow"
        width={9}
        height={16}
      />
    </div>
    <CarouselDemo client:load />
  </main>
</Layout>
