---
import NumberList from '../components/NumberList'
import Layout from '../layouts/Layout.astro'

export const prerender = true
---

<Layout title="우주로또">
  <main class="py-3 px-4">
    <NumberList client:load />
  </main>
</Layout>
