---
import { getSession } from 'auth-astro/server'
import Layout from '../layouts/Layout.astro'
import BackwordNavigator from '../components/BackwordNavigator.astro'
import UsernameChangeInput from '../components/UsernameChangeInput'

const session = await getSession(Astro.request)

export const prerender = true
---

<Layout title="우주로또">
  <BackwordNavigator>환경설정</BackwordNavigator>
  <main class="pt-5 px-4">
    <p>로그인된 계정</p>
    <p class="font-semibold text-lg pt-1.5">{session?.user?.name}</p>
    <p class="text-[#474747] mt-5">닉네임</p>
    <UsernameChangeInput client:load />
    <div class="w-full bg-[#242429] h-1 mt-14"></div>
    <p class="py-4">서비스 이용약관</p>
    <div class="w-full bg-[#242429] h-1"></div>
    <p class="py-4">개인정보 취급 방침</p>
    <div class="w-full bg-[#242429] h-1"></div>
    <p
      id="signOut"
      class="cursor-pointer py-4"
    >
      로그아웃
    </p>
    <div class="w-full bg-[#242429] h-1"></div>
  </main>
</Layout>

<script>
  const { signOut } = await import('auth-astro/client')
  document
    .getElementById('signOut')
    ?.addEventListener('click', () =>
      signOut({ redirect: true, callbackUrl: '/' }),
    )
</script>
