---
import '@/styles/globals.css'

interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Astro description"
    />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/favicon.svg"
    />
    <meta
      name="generator"
      content={Astro.generator}
    />
    <title>{title}</title>
  </head>
  <body class="px-4 sm:px-6 min-h-screen lg:px-8 flex bg-black_2 2">
    <div
      class="max-w-[360px] w-full my-auto h-[740px] overflow-scroll border-white border-[1px] mx-auto text-white [&::-webkit-scrollbar]:hidden"
    >
      <slot />
    </div>
  </body>
</html>
