---
import BackwordNavigator from '../../components/BackwordNavigator.astro'
import NumberBoard from '../../components/NumberBoard'
import Layout from '../../layouts/Layout.astro'
import { generationModeSchema } from '../../lib/type'

export const prerender = true

export function getStaticPaths() {
  return generationModeSchema.options.map((mode) => {
    return {
      params: {
        mode: mode,
      },
    }
  })
}

const { mode } = Astro.params

const formatNow = () => {
  const date = new Date()
  return `${date.getFullYear()}년 ${
    date.getMonth() + 1
  }월 ${date.getDate()}일 생성`
}
---

<Layout title="우주로또">
  <main class="m-4">
    <BackwordNavigator />
    <NumberBoard
      client:load
      mode={mode}
      date={formatNow()}
    />
  </main>
</Layout>
