---
import Layout from '../../layouts/Layout.astro'
import { modes } from '../../lib/type'

export function getStaticPaths() {
  return modes.map((mode) => {
    return {
      params: {
        mode: mode,
      },
    }
  })
}

const { mode } = Astro.params
---

<Layout title="generated">
  <div>{mode}</div>
</Layout>
